@page "/actores/crear"

<h3>Crear Actor</h3>

<FormularioActores OnValitSubmit="Crear" Actor="Actor"></FormularioActores>

@code {
    private Actor Actor = new();

    void Crear()
    {
        Console.WriteLine("Crear Actor");    
    }


}
