@page "/generos/editar/{GeneroId:int}"
@inject NavigationManager navigationManager

<h3>Editar Genero</h3>

<FormularioGenero @ref="formularioGenero" Genero="Genero" OnValitSubmit="Editar" />


@code {
    [Parameter] public int GeneroId { get; set; }

    private GeneroCls? Genero;

    private FormularioGenero? formularioGenero;

    protected override void OnInitialized()
    {
        Genero = new GeneroCls() { Id = GeneroId, Nombre = "Comedia" };
    }

    private void Editar()
    {
        formularioGenero!.FormularioPosteadoConExito = true;
        Console.WriteLine("Editando Genero de Pelicula");
        Console.WriteLine($"Id: {Genero!.Id}");
        Console.WriteLine($"Nombre: {Genero.Nombre}");
        navigationManager.NavigateTo("/generos");
    }
}
