@page "/generos/editar/{GeneroId:int}"
@attribute [Authorize(Roles = "admin")]
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Editar Genero</h3>

@if (Genero is null)
{
    <p>Cargando...</p>    
}
else
{
    <FormularioGenero @ref="formularioGenero" Genero="Genero" OnValitSubmit="Editar" />
}

@code {
    [Parameter] public int GeneroId { get; set; }

    private GeneroCls? Genero;

    private FormularioGenero? formularioGenero;

    protected override async Task OnInitializedAsync()
    {
        var respuestaHttp = await repositorio.Get<GeneroCls>($"/api/generos/{GeneroId}");
        if (respuestaHttp.Error)
        {
            if (respuestaHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/generos");
            }
            else
            {
                var mensajeError = await respuestaHttp.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Genero = respuestaHttp.Response;
        }
    }

    private async void Editar()
    {
        var respuestaHttp = await repositorio.Put("api/generos", Genero);
        if (respuestaHttp.Error)
        {
            var mensajeError = await respuestaHttp.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioGenero!.FormularioPosteadoConExito = true;
            navigationManager.NavigateTo("/generos");
        }
    }
}
