@typeparam Titem

@if (Listado is null)
{
    @if (Cargando is null)
    {
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
    }
    else
    {
        @Cargando
    }
}
else if (Listado.Count == 0)
{
    @if (NoHayRegistros is null)
    {
        <p>No hay Peliculas para Mostrar</p>
    }
    else
    {
        @NoHayRegistros
    }
}
else
{
    @if (HayRegistros is not null)
    {
        @foreach (var item in Listado)
        {
            @HayRegistros(item);
        }
    }
    else
    {
        @HayRegistrosCompleto;
    }


}

@code {

    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;

    [Parameter]
    public RenderFragment NoHayRegistros { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> HayRegistros { get; set; } = null!;

    [Parameter]
    public RenderFragment HayRegistrosCompleto { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> Listado { get; set; } = null!;

}
